h1{
    color: blue;
    font-size: 30pt;
}
p{
    color: rgb(130, 5, 247);
    font-size: 20pt;
    font-style: italic;
    
}
body {
    background-color: #0e0d0d;
    height: 550px;
    background-image: url("fondo1.jpg");
    background-size: 10rem;
    
  }