*{
	margin: 0;
	padding: 0;
}
body,html{
	height: 100%;
}
/* Definir fondo */
.back{
	height: 100%;
	background: url("fondo4.jpg") no-repeat center; 
}

/*Este es el ccs de las redes sociales*/

*{box-sizing:border-box;}

 .container{
    width:95%;
    max-width:900px;
    padding:32px 64px;
    margin:auto;
}

.social{
    /*las imágenes usadas tienen width de 48px*/
    width:48px;
    position:fixed;
    top:50px;
    right:0;
}

/* Extra centrado vertical*/

.social{
    /*border:1px solid #000;*/
    top:50%;
    height:205px;
    margin-top:-100px;
}
